layout {
    tab name="{{ name }}" cwd="{{ cwd }}" {
        pane split_direction="horizontal" {
            pane size="60%" name="agent" {
                command "{{ agent_cmd }}"
                {% for a in agent_args %}args "{{ a }}"
                {% endfor %}
            }
            pane split_direction="vertical" {
                pane name="diff" {
                    command "ark"
                    args "pane" "diff" "--cwd" "{{ cwd }}"
                }
                pane name="git" {
                    command "ark"
                    args "pane" "git" "--cwd" "{{ cwd }}"
                }
            }
        }
    }
}
